*{
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 1024px){
    h1{
        text-align: center; 
    }

    h5{
        text-align: center;
        text-decoration: underline;
    }

    footer{
        text-align: center;
        color: gray;
        font-size: 1px;
    }

    .cardsCenter{
        margin: auto;
        width: 50%;
    }

}