*{
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- */
/* Configuracion HTML */
html{
    font-size: 62.5%;
}
/* -------------------------------------------------------------- */
/* Fonts. */
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-width: 1024px){
    h1{
        text-align: center;
        font-size: 40px; 
    }

    h5{
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
    }

    footer{
        text-align: center;
        color: gray;
        font-size: 1px;
    }

    .cardsCenter{
        margin: auto;
        width: 50%;
    }

    .marinBotTop{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgba(218, 216, 216, 0.61);
    }

    .posStick{
        position: sticky;
        top: 5px;
        z-index: 1;
    }

}

@media only screen and (max-width: 767px){
    h1{
        text-align: center;
        font-size: 40px; 
    }

    .marinBotTop{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(218, 216, 216);
    }

    .posStick{
        position: sticky;
        top: 5px;
        z-index: 1;
    }
}